@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-rad-lg: 15px;
  --medium-light-text: #586e88;
  --light-text: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #090e1a;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 15px;
  color: var(--light-text);
  grid-area: title;
}

h2,
p {
  color: var(--medium-light-text);
}

h2 {
  font-size: 11px;
  font-weight: 700;
  grid-area: subtitle;
  text-transform: uppercase;
}

main {    
  background-color: #0f172a;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

@media (max-width: 1100px) {
  .chatbot-container {
    width: 100%;
  }
}



/* text */



/* The cursor */

/* @keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-cursor::after {
  content: "|";
  font-weight: 700;
  display: inline-block;
  animation: cursor-blink 0.5s steps(2) infinite; */
/* } */
